

* {
    padding: 0px;
    margin: 0px;
    font-family: "Rubik Wet Paint", system-ui;
  }
  
  #app {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }
  
  header {
    display: flex;
    padding: 0.5rem 2rem 2rem 1rem;
    justify-content: center;
    background: rgb(0, 0, 0);
    border-bottom: 10px solid;
    border-color: black;
    font-size: 150px;
    color: white;
    font-style: italic;
  }
  
  .todo {
    color: rgb(0, 255, 42);
  }
  
  .input {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 1.5rem;
  }
  
  input {
    width: 310px;
    background-color: black;
    border: 2px solid greenyellow;
    color: azure;
   
  }
  input:focus{
    color: greenyellow;
  }
  
  .tareas {
    margin: 1.5rem 3rem 0 3rem;
  }
  
  .carta {
    margin-bottom: 2rem;
    height: 8rem;
    width: 25rem;
    text-align: center;
    color: rgb(0, 255, 55);
    background-color: black;
    border: 2px solid white;
  }
  
  .cuerpo {
    overflow: auto;
  }
  
  .carta > div > p {
    font-size: 2rem;
  }
  
  .carta:hover .boton > button {
    display: flex;
    color: red;
    background-color: inherit;
    border: none;
  }
  
  .boton {
    display: flex;
    justify-content: end;
    margin: 1rem;
    font-size: 1.2rem;
    height: 1rem;
  }
  
  .boton > button {
    display: none;
  }
  
  .tareasPendientes {
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
  }
  
